.header-jumbo-div{
    background-image: url("../imgs/moveisposters.jpg");
    background-position: top;
    background-size: cover;
    color: rgb(89, 192, 223);
    
}

.header-welcome{
    font-size: 4rem;
}

.header-input{
    width: 80%;
}
