.card-container{
   display: flex;
   justify-content: space-between;
}

.movie-card{
    width: 20%;
    height: 45vh;
    border: 1px aqua solid;
    border-radius: 25px;
}

.card-image{
    background-size: cover;
    height: 100%;
    width: 100%;
    border: 1px black solid;
    border-radius: 25px;
}

.card-image:hover{
    opacity: 0.7;
}

.movie-card-text{
    display: flex;
    text-align: center;
    align-items: center;
    color: #fff;
    justify-content: space-between; 
}